.case-story {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	font-family: "Poppins", sans-serif;
	height: 1017px;

	.story-container {
		display: flex;
		@include media-breakpoint-down(md) {
			margin-top: 300px;
		}
		@include media-breakpoint-down(sm) {
			justify-content: flex-start;
			display: flex;
		}
	}
	.story-box {
		background: white;
		justify-content: space-between;
		align-items: center;
		width: 755px;
		margin-top: 250px;
		@include media-breakpoint-down(sm) {
			width: 100%;
			padding: 0 20px;
		}
		.top-box {
			justify-content: space-between;
			align-items: center;
			padding-left: 20px;
			@include media-breakpoint-down(sm) {
				min-height: 400px;
			}
			.story-title {
				color: $primary-300;
				word-spacing: 0.2em;
				font-size: 17px;
				font-weight: 500;
				padding-top: 43px;
				@include media-breakpoint-down(sm) {
					font-size: 14px;
				}
			}
			.story-text1 {
				color: $primary;
				font-size: 42px;
				font-weight: 400;
				padding-top: 36px;
				line-height: 1em;
				@include media-breakpoint-down(sm) {
					font-size: 24px;
				}
			}
			.story-text2 {
				color: $primary;
				font-size: 18px;
				padding-top: 28px;
				@include media-breakpoint-down(sm) {
					padding-bottom: 0px;
				}
			}
		}
		.key-box {
			display: flex;
			justify-content: space-between;
			align-items: center;
			background-color: $primary-600;
			padding-right: 46px;
			padding-left: 46px;
			padding-bottom: 32px;
			padding-top: 30px;
			@include media-breakpoint-down(sm) {
				flex-wrap: wrap;
				padding-top: 0px;
			}
			.key-title {
				color: $primary;
				font-size: 15px;
				font-weight: 400;
				padding-right: 37px;
				padding-bottom: 80px;
				border-right: 2px solid $primary-400;

				@include media-breakpoint-down(sm) {
					font-size: 16px;
					font-weight: 700;
					border-right: none;
					padding-bottom: 20px;
				}
			}
			.value1 {
				text-align: center;
				@include media-breakpoint-down(sm) {
					width: 50%;
					text-align: center;
					align-items: center;
				}
				.value-title1 {
					color: $tertiary;
					font-size: 40px;
					font-weight: 900;
					border-right: 2px solid $primary-400;
					padding-right: 30px;
					@include media-breakpoint-down(sm) {
						line-height: 1;
						font-weight: 800;
						border-right: none;
					}
				}
				.value-text1 {
					color: $primary;
					font-size: 14px;
					max-width: 220px;
					padding-right: 30px;
					border-right: 2px solid $primary-400;
					@include media-breakpoint-down(sm) {
						display: flex;
						border-right: none;
					}
				}
			}
			.value2 {
				text-align: center;
				@include media-breakpoint-down(sm) {
					width: 50%;
					text-align: center;
					align-items: center;
				}

				.value-title2 {
					color: $tertiary;
					font-size: 40px;
					font-weight: 900;
					border-right: 2px solid $primary-400;
					padding-right: 30px;
					@include media-breakpoint-down(sm) {
						border-right: none;
						line-height: 1;
						font-weight: 800;
						padding-left: 20px;
					}
				}
				.value-text2 {
					color: $primary;
					font-size: 14px;
					max-width: 225px;
					padding-right: 30px;
					border-right: 2px solid $primary-400;
					@include media-breakpoint-down(sm) {
						width: 50%;
						display: flex;
						border-right: none;
						padding-left: 20px;
					}
				}
			}
		}

		.bottom-box {
			@include media-breakpoint-down(sm) {
				display: inline-block;
				height: 55px;
				margin-bottom: 15px;
				margin-left: -20px;
			}
			.read-more {
				display: flex;
				align-items: center;
				text-align: center;
				height: 70px;
				padding: 0em 19em;
				background-color: $primary;
				color: white;
				font-size: 16px;
				text-decoration: none;
				@include media-breakpoint-down(sm) {
					display: flex;
					padding: 0 151px;
				}
			}
		}
	}
}
