section.home-banner {
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-family: "Poppins", sans-serif;
	height: 740px;
	overflow: hidden;
	@include media-breakpoint-down(sm) {
		padding: 50px 0;
		background-size: 300px;
	}

	.home-container {
		display: flex;
		@include media-breakpoint-down(md) {
			display: flex;
			flex-wrap: wrap;
		}
		.left-col {
			width: 72%;
			padding-right: 150px;
			@include media-breakpoint-down(md) {
				width: 100%;
				padding-right: 0;
				padding-top: 80px;
				text-align: center;
			}
			@include media-breakpoint-down(sm) {
				margin-top: 300px;
			}
		}
		.right-col {
			width: 28%;
			@include media-breakpoint-down(md) {
				width: 100%;
				margin-left: 0;
				margin-top: 40px;
				margin-bottom: 300px;
				text-align: center;
			}
			@include media-breakpoint-down(sm) {
				//margin-bottom: 150px;
			}
		}
	}
	.hero-text {
		font-size: 42px;
		font-weight: 350px;
		line-height: 1.4em;
		@include media-breakpoint-down(md) {
			font-size: 30px;
			line-height: 1.4em;
			display: block;
		}
	}

	.call-to-action {
		margin-top: 40px;
		.story-btn {
			text-decoration: none;
			text-transform: uppercase;
			font-size: 14px;
			font-weight: 600;
			color: white;
			background-color: $primary;
			padding: 1em 2em;
			display: inline-block;
			@include media-breakpoint-down(md) {
				text-align: center;
				display: inline-block;
				padding: 15px 30px;
				text-transform: uppercase;
				font-size: 14px;
				font-weight: 600;
			}
		}
	}

	.logo {
		position: absolute;
		width: 590px;
		height: 657px;
		bottom: -253px;
		left: calc(50% - 295px);
		z-index: -1;
		padding-bottom: 70px;
		@include media-breakpoint-down(md) {
			padding: 80px;
			padding-bottom: 100px;
		}
		@include media-breakpoint-down(sm) {
			padding: 80px 0px;
			padding-top: 300px;
			left: calc(80% - 295px);
		}
	}

	.b2b-text {
		font-size: 18px;
		font-weight: 350;
		line-height: 1.4em;
		border-left: 2px solid $primary-400;
		padding-left: 30px;
		@include media-breakpoint-down(md) {
			border-left: none;
			text-align: center;
			justify-content: center;
			padding: 30px;
		}
	}
}
