.our-awards {
	padding: 40px 0;
	font-family: "Poppins", sans-serif;
	background: $primary-600;

	.awards-container {
		display: flex;
		justify-content: space-between;
		align-items: center;

		@include media-breakpoint-down(md) {
			flex-wrap: wrap;
		}

		.section-title {
			min-width: 200px;
			font-size: 18px;
			font-weight: 700;

			@include media-breakpoint-down(md) {
				border-right: none;
				width: 100%;
				text-align: center;
			}
		}

		.finalist {
			padding: 0 30px;
			border-left: 3px solid $primary-400;
			flex-wrap: wrap;

			@include media-breakpoint-down(md) {
				width: 100%;
				border-left: none;
				padding: 0;
				margin-top: 15px;
			}

			.awards-type {
				font-size: 21px;
			}

			.finalist-title {
				font-size: 18px;
			}

			.finalist-text {
				font-size: 16px;
				font-weight: 400;
			}
		}
	}
}
