.wrapper {
	display: flex;
	align-items: center;
	height: 900px;
	background: $primary;
	color: white;
	font-family: "Poppins", sans-serif;
	padding-top: 130px;

	@include media-breakpoint-down(md) {
		padding: 60px 0px;
		height: auto;
	}

	.wrapper-container {
		@include media-breakpoint-down(md) {
			max-width: 720px;
		}

		@include media-breakpoint-down(sm) {
			width: 100%;
			padding-right: 15px;
			padding-left: 15px;
			margin-right: auto;
			margin-left: auto;
		}

		.top-row {
			padding-bottom: 100px;
			display: flex;
			flex-wrap: wrap;

			@include media-breakpoint-down(md) {
				padding-bottom: 0;
			}

			@include media-breakpoint-down(sm) {
				//padding-bottom: 0;
			}

			.left-col {
				width: 60%;
				padding-right: 120px;

				@include media-breakpoint-down(md) {
					width: 100%;
					padding-right: 0;
				}

				.explore-title {
					font-size: 30px;
					font-weight: 300;

					@include media-breakpoint-down(md) {
						font-size: 30px;
						font-weight: 400;
					}

					@include media-breakpoint-down(sm) {
						font-weight: 400;
						//margin-top: 80px;
					}
				}

				.footer-menu {
					padding-top: 35px;
					margin-bottom: 60px;

					@include media-breakpoint-down(sm) {
						display: block;
					}
					#main-menu {
						list-style-type: none;
						justify-content: space-between;
						display: flex;
						flex-wrap: wrap;
						padding-left: 0;

						li {
							width: 150px;
							@include media-breakpoint-down(md) {
								width: 100%;
							}
						}

						.nav-link {
							color: white;
							font-size: 16px;
							width: 150px;
							border-bottom: 2px solid $primary-300;
							padding-left: 0;

							&:hover {
								border-bottom: 2px solid $secondary;
							}
						}
					}
				}

				.contact-title {
					font-size: 30px;
					font-weight: 300;

					@include media-breakpoint-down(md) {
						font-weight: 400;
					}
				}

				.contact-wrapper {
					display: flex;
					flex-wrap: wrap;

					@include media-breakpoint-down(md) {
					}

					.email-wrapper {
						padding-top: 50px;
						padding-right: 50px;

						.email-title {
							font-size: 16px;
							border-bottom: 2px solid $primary-300;
							max-width: 50px;
							padding-bottom: 10px;

							&:hover {
								border-bottom: 2px solid $secondary;
								cursor: pointer;
							}

							@include media-breakpoint-down(md) {
								margin-bottom: 10px;
							}
						}

						.email {
							font-size: 18px;
							padding-top: 10px;

							@include media-breakpoint-down(md) {
								margin-bottom: 10px;
							}
						}
					}

					.phone-wrapper {
						padding-top: 50px;

						.phone-title {
							font-size: 16px;
							border-bottom: 2px solid $primary-300;
							max-width: 50px;
							padding-bottom: 10px;

							&:hover {
								border-bottom: 2px solid $secondary;
								cursor: pointer;
							}
						}

						.phone {
							font-size: 18px;
							padding-top: 10px;
						}
					}
				}
			}

			.right-col {
				width: 40%;

				@include media-breakpoint-down(md) {
					width: 100%;
					padding-top: 60px;
				}

				.storyteller-text {
					font-size: 30px;
					padding-bottom: 40px;

					@include media-breakpoint-down(md) {
						text-align: center;
					}
				}

				.storyteller-text2 {
					font-size: 18px;
					padding-bottom: 40px;

					@include media-breakpoint-down(md) {
						text-align: center;
					}
				}

				.form {
					.wpcf7-form-control {
						height: 53px;
					}

					#form-submit {
						color: white;
						background-color: $secondary;
						font-weight: 500;

						&:hover {
							background-color: $primary-400;
						}
					}
				}
			}
		}

		.bottom-row {
			display: flex;
			align-items: center;
			padding-top: 20px;
			border-top: 2px solid $primary-400;
			justify-content: space-between;

			&:hover {
				border-top: 2px solid $secondary;
				cursor: pointer;
			}

			@include media-breakpoint-down(md) {
				flex-wrap: wrap;
				text-align: center;
				justify-content: center;
			}

			.footer-text {
				display: flex;
				font-size: 16px;
				align-items: center;

				@include media-breakpoint-down(md) {
					width: 100%;
					color: white;
				}

				.separator {
					padding-left: 1rem;
				}

				ul#footer-menu {
					display: flex;
					list-style: none;
					margin-bottom: 0;
					padding: 0;
					li {
						a {
							color: white;
						}
					}
				}
			}

			.social-icons {
				display: flex;

				@include media-breakpoint-down(md) {
					width: 100%;
					justify-content: center;
					text-align: center;
					padding-top: 40px;
					padding-right: 35px;
				}

				.fa {
					font-size: 28px;
					width: 28px;
					height: 28px;
					margin-left: 30px;
					color: $primary-400;

					&:hover {
						color: $secondary;
						text-decoration: none;
					}
				}
			}
		}
	}
}
